doc/empiria.xsd

<?xml version="1.0"?>
<!--
  ~ *Copyright 2017 Young Digital Planet S.A.
  ~ *
  ~ * Licensed under the Apache License, Version 2.0 (the "License");
  ~ * you may not use this file except in compliance with the License.
  ~ * You may obtain a copy of the License at
  ~ *
  ~ *      http://www.apache.org/licenses/LICENSE-2.0
  ~ *
  ~ * Unless required by applicable law or agreed to in writing, software
  ~ * distributed under the License is distributed on an "AS IS" BASIS,
  ~ * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ * See the License for the specific language governing permissions and
  ~ * limitations under the License.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.w3schools.com"
xmlns="http://www.w3schools.com">

<xs:element name="assessmentItem" type="assessmentItemType"/>

<xs:complexType name="assessmentItemType">
	<xs:choice   maxOccurs="unbounded" minOccurs="2">
		<xs:group ref="assessmentItemGroup" minOccurs="0" maxOccurs="unbouned" />
		<xs:element name="itemBody" type="itemBodyType" minOccurs="1" maxOccurs="1"/>
		<xs:element name="variableProcessing" type="variableProcessingType" minOccurs="1" maxOccurs="1"/>
		<xs:element name="styleDeclaration" type="styleDeclarationType" minOccurs="0"/>
		<xs:element name="supplement" type="supplementType" minOccurs="0"/>
		<xs:any minOccurs="0" maxOccurs="unbouned"/>
	</xs:choice>
	<xs:attribute name="title" type="xs:string" use="required"/>
</xs:complexType>

<xs:group name="assessmentItemGroup">
	<xs:choice minOccurs="0" maxOccurs="unbouned">
		<xs:element name="responseDeclaration" type="responseDeclarationType" minOccurs="0" maxOccurs="unbouned"/>
		<xs:element name="outcomeDeclaration" type="outcomeDeclarationType" minOccurs="0" maxOccurs="unbouned"/>
		<xs:element name="modalFeedback" type="modalFeedbackType" minOccurs="0" maxOccurs="unbouned"/>
	</xs:choice>
</xs:group>

<xs:complexType name="styleDeclarationType">
	<xs:sequence>
		<xs:element name="link" type="linkType" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
</xs:complexType>

<xs:complexType name="linkType">
	<xs:attribute name="href" type="xs:string" use="required"/>
	<xs:attribute name="userAgent" type="xs:string" use="required"/>
</xs:complexType>

<xs:complexType name="variableProcessingType">
	<xs:attribute name="userAgent" type="xs:string" use="required"/>
</xs:complexType>

<xs:complexType name="supplementType">
	<xs:sequence>
		<xs:any minOccurs="0"/>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="responseDeclarationType">
	<xs:sequence>
		<xs:element name="correctResponse" minOccurs="0">
			<xs:complexType>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="xs:string"/>
				</xs:choice>
			</xs:complexType>
		</xs:element>
	</xs:sequence>
	<xs:attribute name="identifier" type="xs:string" use="required"/>
	<xs:attribute name="cardinality" type="cardinalityType" use="required"/>
	<xs:attribute name="baseType" type="baseTypeType" use="required"/>
</xs:complexType>

<xs:complexType name="outcomeDeclarationType">
	<xs:sequence>
		<xs:element name="defaultValue" minOccurs="0">
			<xs:complexType>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:complexType>
		</xs:element>
	</xs:sequence>
	<xs:attribute name="identifier" type="xs:string" use="required"/>
	<xs:attribute name="cardinality" type="cardinalityType" use="required"/>
	<xs:attribute name="baseType" type="baseTypeType" use="required"/>
</xs:complexType>

<xs:simpleType name="cardinalityType">
	<xs:restriction base="xs:string">
		<xs:pattern value="single|multiple|ordered|commutative"/>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="baseTypeType">
	<xs:restriction base="xs:string">
		<xs:pattern value="identifier|integer|string"/>
	</xs:restriction>
</xs:simpleType>

<xs:complexType name="itemBodyType" mixed="true">
	<xs:choice minOccurs="0" maxOccurs="unbounded">
		<xs:group minOccurs="0" maxOccurs="unbounded" ref="itemBodyGroup" />
	</xs:choice>
</xs:complexType>

<xs:group name="itemBodyGroup">
	<xs:choice minOccurs="0" maxOccurs="unbounded">
		<xs:group minOccurs="0" maxOccurs="unbounded" ref="allsGroup" />
	</xs:choice>
</xs:group>

<xs:group name="allsGroup">
	<xs:choice minOccurs="0" maxOccurs="unbounded">
		<xs:group ref="blockInteractionsGroup" minOccurs="0" maxOccurs="unbounded" />
		<xs:group ref="containersGroup" minOccurs="0" maxOccurs="unbounded" />
		<xs:group ref="noninteractionModulesGroup" minOccurs="0" maxOccurs="unbounded" />
	</xs:choice>
</xs:group>

<xs:group name="blockInteractionsGroup">
	<xs:choice>
		<xs:element name="choiceInteraction" type="choiceInteractionType" minOccurs="0" maxOccurs="unbounded" />
		<xs:element name="selectionInteraction" type="selectionInteractionType" minOccurs="0" maxOccurs="unbounded" />
		<xs:element name="textInteraction" type="textInteractionType" minOccurs="0" maxOccurs="unbounded" />
	</xs:choice>
</xs:group>	
	
<xs:group name="inlineInteractionsGroup">
	<xs:choice>
		<xs:element name="identificationInteraction" type="identificationInteractionType" minOccurs="0" maxOccurs="unbounded" />
		<xs:element name="textEntryInteraction" type="textEntryInteractionType" minOccurs="0" maxOccurs="unbounded" />
		<xs:element name="inlineChoiceInteraction" type="inlineChoiceInteractionType" minOccurs="0" maxOccurs="unbounded" />
	</xs:choice>
</xs:group>

<xs:group name="noninteractionInlineModulesGroup">
	<xs:choice minOccurs="0" maxOccurs="unbounded">
		<xs:element name="img" type="imgType" minOccurs="0" maxOccurs="unbounded" />
		<xs:element name="object" type="objectType" minOccurs="0" maxOccurs="unbounded" />
		<xs:element name="audioPlayer" type="audioPlayerType" minOccurs="0" maxOccurs="unbounded" />
	</xs:choice>
</xs:group>

<xs:group name="noninteractionModulesGroup">
	<xs:choice minOccurs="0" maxOccurs="unbounded">
		<xs:group ref="noninteractionInlineModulesGroup" minOccurs="0" maxOccurs="unbounded" />
		<xs:element name="simpleText" type="simpleTextType" minOccurs="0" maxOccurs="unbounded" />
	</xs:choice>
</xs:group>


<xs:complexType name="imgType">
	<xs:attribute name="src" type="xs:string" use="required"/>
</xs:complexType>

<xs:complexType name="objectType">
	<xs:attribute name="type" type="xs:string" use="required"/>
	<xs:attribute name="data" type="xs:string" use="required"/>
</xs:complexType>

<xs:complexType name="audioPlayerType">
	<xs:attribute name="src" type="xs:string" use="required"/>
</xs:complexType>

<xs:group name="containersGroup">
	<xs:choice>
		<xs:element name="div" type="divType" />
		<xs:element name="span" type="spanType" />
		<xs:element name="section" type="sectionType" />
		<xs:element name="group" type="groupType" />
	</xs:choice>
</xs:group>

<xs:complexType name="divType" mixed="true">
	<xs:choice minOccurs="0" maxOccurs="unbounded">
		<xs:group minOccurs="0" maxOccurs="unbounded" ref="allGroup" />
	</xs:choice>
</xs:complexType>

<xs:complexType name="sectionType" mixed="true">
	<xs:choice minOccurs="0" maxOccurs="unbounded">
		<xs:group minOccurs="0" maxOccurs="unbounded" ref="allGroup" />
	</xs:choice>
</xs:complexType>

<xs:complexType name="spanType">
	<xs:complexContent>
		<xs:extension base="xs:string"/>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="simpleTextType">
	<xs:complexContent>
		<xs:extension base="xs:string"/>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="interactionType">
	<xs:attribute name="responseIdentifier" type="xs:sting" />
</xs:complexType>

<xs:complexType name="blockInteractionType">
	<xs:complexContent>
		<xs:extension base="interactionType">
			<xs:all>
				<xs:element name="prompt" type="xs:string" />
			</xs:all>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="inlineInteractionType">
	<xs:complexContent>
		<xs:extension base="interactionType">
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="feedbackInlineType">
	<xs:attribute name="variableIdentifier" type="xs:string" use="required" />
	<xs:attribute name="value" type="xs:string"  use="required"/>
	<xs:attribute name="showHide" type="xs:string" />
	<xs:attribute name="senderIdentifier" type="xs:string" />
	<xs:attribute name="sound" type="xs:string" />
</xs:complexType>

<xs:complexType name="modalFeedbackType">
	<xs:attribute name="variableIdentifier" type="xs:string"  use="required"/>
	<xs:attribute name="value" type="xs:string"  use="required"/>
	<xs:attribute name="showHide" type="xs:string" />
	<xs:attribute name="senderIdentifier" type="xs:string" />
	<xs:attribute name="sound" type="xs:string" />
</xs:complexType>

<xs:simpleType name="identifierType">
	<xs:restriction base="xs:string">
		<xs:pattern value="[a-z][A-Z].*" />
	</xs:restriction>
</xs:simpleType>

<xs:complexType name="inlineChoiceType">
	<xs:complexContent>
		<xs:extension base="xs:string">
			<xs:attribute name="identifier" type="identifierType"  use="required" />
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="simpleChoiceType">
	<xs:complexContent>
		<xs:extension base="xs:string">
			<xs:choice minOccurs="0">
				<xs:element name="feedbackInline" type="feedbackInlineType" minOccurs="0"/>
			</xs:choice>
			<xs:attribute name="identifier" type="identifierType"  use="required" />
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="itemType">
	<xs:complexContent>
		<xs:extension base="xs:string">
			<xs:choice  minOccurs="0">
				<xs:element name="feedbackInline" type="feedbackInlineType" />
			</xs:choice>
			<xs:attribute name="identifier" type="identifierType"  use="required" />
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="choiceInteractionType">
	<xs:complexContent>
		<xs:extension base="blockInteractionType">
			<xs:choice maxOccurs="unbounded">
				<xs:element name="simpleChoice" type="simpleChoiceType" minOccurs="1" maxOccurs="unbouned" />
				<xs:element name="feedbackInline" type="feedbackInlineType" minOccurs="0" maxOccurs="unbouned" />
			</xs:choice>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="selectionInteractionType">
	<xs:complexContent>
		<xs:extension base="blockInteractionType">
			<xs:choice maxOccurs="unbounded">
				<xs:element name="simpleChoice" type="simpleChoiceType" maxOccurs="unbouned" />
				<xs:element name="item" type="itemType" maxOccurs="unbouned" />
				<xs:element name="feedbackInline" type="feedbackInlineType" minOccurs="0" maxOccurs="unbouned" />
			</xs:choice>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="textInteractionType" mixed="true">
	<xs:choice minOccurs="0" maxOccurs="unbounded" >
		<xs:group ref="noninteractionInlineModulesGroup" minOccurs="0" maxOccurs="unbounded" />
		<xs:group ref="inlineInteractionsGroup" minOccurs="0" maxOccurs="unbounded" />
	</xs:choice>
</xs:complexType>

<xs:complexType name="identificationInteractionType">
	<xs:complexContent>
		<xs:extension base="inlineInteractionType">
			<xs:choice maxOccurs="unbounded">
				<xs:element name="simpleChoice" type="simpleChoiceType" maxOccurs="unbouned" />
				<xs:element name="feedbackInline" type="feedbackInlineType" minOccurs="0" maxOccurs="unbouned" />
			</xs:choice>
			<xs:attribute name="maxSelections" type="xs:integer" />
			<xs:attribute name="separator" type="xs:string" />
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="inlineChoiceInteractionType">
	<xs:complexContent>
		<xs:extension base="inlineInteractionType">
			<xs:choice maxOccurs="unbounded">
				<xs:element name="inlineChoice" type="inlineChoiceType" maxOccurs="unbouned" />
				<xs:element name="feedbackInline" type="feedbackInlineType" minOccurs="0" maxOccurs="unbouned" />
			</xs:choice>
			<xs:attribute name="shuffle" type="xs:boolean" />
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="textEntryInteractionType">
	<xs:complexContent>
		<xs:extension base="inlineInteractionType">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="feedbackInline" type="feedbackInlineType" minOccurs="0" maxOccurs="unbouned" />
			</xs:choice>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

</xs:schema> 